@tailwind base;
@tailwind components;
@tailwind utilities;

layer components {
  .nav-link {
    @apply px-4 py-2 rounded-full bg-brown-600 text-beige-100 font-semibold 
           hover:bg-brown-700 transition-colors duration-300 
           border-2 border-brown-500 hover:border-brown-600;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
